body {
    margin: 0;
    background: #2F2E41;
}

.page {
    width: 1280px;
    right: 720px;
    margin: 0 auto;
}

nav {
    width: 1083px;
    margin: 70px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'JetBrains Mono', monospace;
}

ul {
    list-style: none;
    display: flex;
    gap: 60px;
    margin: 0;
    padding: 0;
}

ul li a{
    color: white;
    text-decoration: none;
}

main {
    width: 1092px;
    margin: auto;
}

section {
    display: flex;
    justify-content: space-between;
    margin: 100px auto 150px;
}

.content {
    color: #C2C2C2;
    text-align: center;
    width: 610px;

    font-family: 'Open Sans', sans-serif;
}

span {
    color: #00BFA6;
}

h1 {
    font-family: 'JetBrains Mono', monospace;
    color: #FFFFFF;
    margin: 0 0 50px 0;

    font-weight: 700;
    font-size: 36px;
    line-height: 40px;  
}

p + p {
    margin-top: 30px;
}

footer {
    justify-content: center;
    margin: auto;
    padding-top: 27px;

    border-top-style: solid;
    border-color: #00BFA6;
}

footer, #cad {
    color: white;
    width: 568px;
    height: 55px;

    justify-content: center;
    text-align: center;
    align-items: center;

    font-family: 'JetBrains Mono', monospace;
}

.footer {
    display: flex;
    align-items: center;
}